* {
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 24px 240px;
    justify-content: space-between;
}

.heading {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
    padding: 18px 240px 100px 240px;
    gap: 24px;
}

#logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
}

#main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 18px;
}

a {
    text-decoration: none;
    color: white;
}

#main-image {
    width: 500px;
    flex-shrink: 0;
    height: 220px;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
}

button {
    padding: 6px 32px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 20px;
    margin-top: 12px;
    font-weight: bold;
    border-radius: 12px;
}

.information {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    align-self: center;
    margin: 48px;
}

.menu-item {
    border: 5px solid #3882F6;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
    margin: 5px 0;
}

.desc {
    text-align: center;
    width: 200px;
}